<a href="/products/kardiamobile-card/" class="ga-tracker" data-category="Banner Click" data-action="KM Card" data-label="/">
<div class="banner two-lines new-year">
  <div>
    <span class="light">Get KardiaMobile Card, our thinnest, <span class="break-mobile">lightest, wallet-sized personal EKG.</span></span>
  </div>
</div>