<div class="benefit-icons-cart">
<div class="icons">
  <div class="icon-block larger">
    {% include 'icon-shipping.svg' %}
    <p>Free <span>Shipping</span></p>
  </div>
  <div class="icon-block">
    {% include 'icon-moneyBack.svg' %}
    <p>30-DAY Money <span>Back Guarantee</span></p>
  </div>
  
  <div class="icon-block">
    {% include 'icon-warranty.svg' %}
    <p>1-Year <span>Warranty</span></p>
  </div>
  <div class="icon-block">
    {% include 'icon-trusted.svg' %}
    <p>Safe <span>Checkout</span></p>
  </div>
  
</div>
</div>