<p>{{ product.title }} is compatible with most popular phones and tablets. To use your Kardia device, <b>you must download the Kardia app on a compatible device</b> running at least Apple iOS 10.3.3, or at least Android OS 6.0.</p>

<p>Prior to purchase, please check if your device is compatible at <a href="https://www.alivecor.com/compatibility" target="_blank">alivecor.com/compatibility</a>.</p>