<div class="hideBanner" id="cookies-message">
  <p class="container">
    This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies.
    <a href="https://www.kardia.com/privacy">
    Read our cookie policy
  </a>
  <div id="cookies-ok">&times;</div>
  </p>
</div>
