<footer>
  <section class="footer">
    <div class="newsletter-signup">
      <div class="newsletter-form">
        <h2>
          Sign up to receive the <span>latest AliveCor news.</span>
        </h2>
        <div class="input-group">
          {% comment %}
            MailChimp is the go-to newsletter service for Shopify.
            Use the link below to find your MailChimp form action
            and insert it in your site settings.

            MailChimp newsletter integration and requirement:
             - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
          {% endcomment %}
          {% if settings.newsletter_form_action != blank %}
            {% assign form_action = settings.newsletter_form_action %}
          {% else %}
            {% assign form_action = '//alivecor.us5.list-manage.com/subscribe/post?u=a596beb547be99ec121388a51&id=550f8baa8b' %}
          {% endif %}
          <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
            <span class="input-group-btn">
              <input type="submit" class="btn" name="subscribe" id="subscribe" value="Join">
            </span>
          </form>
        </div>
      </div>
      <div class="download-info">
        <h2 class="nomarg">
          Looking for free information <span>to share with your doctor?</span>
        </h2>
        <a href="http://go.alivecor.com/l/149241/2017-08-28/38jy9g/149241/30411/Kardia_Mobile_Overview_for_Doctor.pdf"
          class="btn"
          download>
          Download
        </a>
      </div>
      <div class="fastco-logo-small">
        <div class="fastco">
          <div class="fastco-img"></div>
          <p>
            <span>AliveCor</span>
            <span>Ranked #3</span>
            <span>in Healthcare</span>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <ul>
        <li>
          <h6>Shop</h6>
        </li>
        <li>
          <a href="http://shop.alivecor.com/">
            KardiaMobile
          </a>
        </li>
        <li>
          <a href="http://shop.alivecor.com/">
            KardiaBand
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/how-it-works/#compatibility">
            Compatibility
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/shipping">
            Shipping
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/warranty">
            Warranty
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/resellers">
            Resellers
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <h6>
            Support
          </h6>
        </li>
        <li>
          <a href="https://www.alivecor.com/faq/#contact">
            Contact Support
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/faq">
            FAQs
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/support/#quickstart">
            User Manual
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/tos">
            Terms of Service
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/privacy">
            Privacy Policy
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <h6>
            About AliveCor
          </h6>
        </li>
        <li>
          <a href="https://www.alivecor.com/mission">
            Our Mission
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/team">
            Our Team
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/team/#careers">
            Careers
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/press">
            Press and Media
          </a>
        </li>
        <li>
          <a href="https://www.alivecor.com/research">
            Clinical Research
          </a>
        </li>
      </ul>
    </div>
    <ul class="social-links">
      <li>
        <a class="followus-facebook" href="https://www.facebook.com/AliveCor/" target="_blank" rel="noopener">
          <i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a class="followus-twitter" href="https://www.twitter.com/alivecor" target="_blank" rel="noopener">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="followus-youtube" href="https://www.youtube.com/user/alivecor" target="_blank" rel="noopener">
          <i class="fa fa-youtube-play"></i>
        </a>
      </li>
      <li>
        <a class="followus-linkedin"
          href="http://www.linkedin.com/company/alivecor/" target="_blank" rel="noopener">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <div class="copyright-statement">
      <p>
      &copy;2017 AliveCor, Inc. All Rights Reserved. US Patent Nos 8,301,232, 8,509,882 and Patents Pending. AliveCor and Kardia are trademarks of AliveCor, Inc. in the United States and other countries.
      </p>
    </div>
  </section>
</footer>
