<div class="homepage-heading">
  <h3>All our AliveCor Mobile ECGs do the same thing<br>
  and are compatible with Apple and Android devices.</h3>
  <p>Choose the case or attachment you prefer.</p>
  <a href="#not-in-us">Shipping outside the US?</a>
</div>
