<div class="grid__cont">
  <div class="h3">
    KardiaCare Features
  </div>
  <div class="feature-grid">
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>Unlimited EKGs</span>Detect AFib, Bradycardia, Tachycardia, and more in just 30 seconds.</p>
      </div>
    </div>
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>EKG storage on your phone</span>Store your EKGs on your phone or email them to your doctor.</p>
      </div>
    </div>
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>Weight and blood pressure monitoring</span>Enter your weight and blood pressure so you can track it over time.</p>
      </div>
    </div>
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>Advanced Determinations</span>Get a deeper look at your heart rhythm and detect more arrhythmias, including Sinus Rhythm with PVCs and more.</p>
      </div>
    </div>
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>Cardiologist EKG Reviews</span>Receive an EKG review every 90 days by a board-certified cardiologist.</p>
      </div>
    </div>
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>Monthly Heart Health Report</span>Get a report that summarizes all of your EKG recordings every month. Share with your doctor or use it to track your heart health over time.</p>
      </div>
    </div>
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>Automatic EKG Sharing</span>Set up automatic sharing of your EKGs with family or caregivers using Inner Circle.</p>
      </div>
    </div>
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>Medication Tracking</span>Set reminders to take specific medication at your doctor’s recommendation and track your medication history.</p>
      </div>
    </div>
    <div class="feature">
      <span class="checkmark">{% include "icon-checkmark.svg" %}</span>
      <div class="text">
        <p><span>Cloud Storage and Security</span>Secure access to all of your EKG recordings on any device.</p>
      </div>
    </div>
  </div>
</div>
