{% if pageName == 'upsell' or pageName == 'home' %}
  <div class="table-ribbon">
    KardiaCare Features
  </div>
{% endif %}
<table class="{{ pageName }}">
  <thead>
    <tr>
      <td></td>
      <td class="head">Basic</td>
      <td class="head bold">KardiaCare<span></span></td>
    </tr>
    <tr class="mobile-table">
      <td class="head" colspan="3">Basic</td>
    </tr>
  </thead>
  <tbody>
    <tr class="basic-row">
      <td class="feature">
        Unlimited EKGs
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
        <div class="mobile-table">
          {% include "icon-checkmark.svg" %}
        </div>
      </td>
    </tr>
    <tr class="basic-row">
      <td class="feature">
        EKG storage on your phone
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
        <div class="mobile-table">
          {% include "icon-checkmark.svg" %}
        </div>
      </td>
    </tr>
    <tr class="basic-row">
      <td class="feature">
        Weight and blood pressure monitoring
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-shield.svg" %}
        <div class="mobile-table">
          {% include "icon-checkmark.svg" %}
        </div>
      </td>
    </tr>
    <tr class="mobile-table">
      <td class="head" colspan="3">Premium<span>(Basic Included)</span></td>
    </tr>
    <tr>
      <td class="feature">
        {% if pageName == 'product' %}
        <a href="#ad-anchor" class="scroll-link">Advanced Determinations</a>
        {% else %}
          Advanced Determinations
        {% endif %}
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    {% if request.host != 'shop.kardiamobile.ca' %}
    <tr>
      <td class="feature">
        {% if pageName == 'product' %}
        <a href="#ekg-review-anchor" class="scroll-link">Cardiologist EKG Reviews</a>
        {% else %}
          Cardiologist EKG Reviews
        {% endif %}
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td class="feature">
        {% if pageName == 'product' %}
        <a href="#summary-report-anchor" class="scroll-link">Heart Health Summary Report</a>
        {% else %}
          Heart Health Summary Report
        {% endif %}
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Automatic EKG Sharing
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Medication Tracking
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Cloud Storage and Security
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    {% if request.host != 'shop.kardiamobile.ca' %}
    <tr>
      <td class="feature">
        Device Replacement
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-shield.svg" %}
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
