<div class="pop-up kardiamobile-upsell" id="kardiamobile-upsell-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="kardiamobile-upsell-close"
      data-category="KardiaMobile Cart Pop Up Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text">
    <div class="h3">Don’t forget your KardiaMobile</div>
      <p>You’ll need a Kardia device to activate your KardiaCare membership.</p>
      {{ 'kardiamobile-angle.png' | asset_url | img_tag }}
      <p class="h4Price price">
        {% if shop.domain == 'store.alivecor.co.uk'%}
        £99.00
        {% elsif request.host == 'shop.kardiamobile.ca' %}
        $115.00
        {% else %}
        $89.00
        {% endif %}
      </p>
      <a class="btn ga-tracker"
        id="kardiamobile-upsell-add"
        data-category="KardiaMobile Cart Pop Up Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add to cart
      </a>
      <a id="kardiamobile-upsell-no"
        class="upsell-no ga-tracker" 
        data-category="KardiaMobile Cart Pop Up Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks, I already have a Kardia device.
      </a>
    </div>
  </div>
  </div>
</div>