<div class="modal">
  <div class="modal-fade-screen">
    <div class="modal-inner video">
      <div class="modal-close"></div>
      <div class="video-wrapper">
        <div id="video-player">
          <iframe width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay; encrypted-media"></iframe>
        </div>
      </div>
    </div>
    <div class="modal-inner shipping-gb">
      <div class="modal-content">
        <div class="modal-close"></div>
        <h3>Shipping options</h3>
        <table>
          <tr>
            <td>2 Day Packing & Shipping</td>
            <td>FREE for orders over £99</td>
          </tr>
          <tr>
            <td>Royal Mail 2 Day Tracked and Signed</td>
            <td>£3.96</td>
          </tr>
          <tr>
            <td>Royal Mail 24 Hour Tracked and Signed</td>
            <td>£5.84</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
