<div id="not-in-us">
  <div class="row-fluid">
    <div class="span4 map">
      <!-- 
      <img src="//cdn.shopify.com/s/files/1/0368/7037/files/map.png?596" width="436"/>
		-->
    </div>

    <div class="span7 content">
      <h2>Not in the U.S.?</h2>
      <p>Shipping and availability of the AliveECG app (required to use the device) is available in these countries:</p>
      <p><a href="http://www.alivetec.com/store/">Australia</a></p>
            <p><a href="http://www.amazon.ca/s/ref=bl_dp_s_web_6205177011?ie=UTF8&field-brandtextbin=AliveCor&node=6205177011">Canada</a></p>
      <p><a href="http://hng.co.in:9022/cor/ProductQuantity.aspx">India</a></p>
      <p><a href="http://www.amazon.co.uk/gp/browse.html?ie=UTF8&marketplaceID=A1F83G8C2ARO7P&me=A3CHKKV5Z0PAQD">Ireland</a></p>
      <p><a href="http://www.amazon.co.uk/gp/browse.html?ie=UTF8&marketplaceID=A1F83G8C2ARO7P&me=A3CHKKV5Z0PAQD">United Kingdom</a></p>


      <div class="bordered">
        <p>
          <span class="bold">Don't see your location?</span>
          <a href="http://www.alivecor.com/home#newsletter-signup">Sign up</a> for our newsletter to hear when we add new countries.
        </p>
      </div>
      <p>The AliveECG app is available for free in iOS and Android, in the U.S., U.K., Ireland, India and Australia through the App Store and Google Play. The Mobile ECG will not work without the AliveECG app.</p>
    </div>
  </div>
</div>