<div class="pop-up omron" id="omron-upsell-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker"
      id="omron-close"
      data-category="Omron Upsell"
      data-action="Clicked Close"
      data-label="Cart"></a>
    <div class="text">
    <div class="h3">Take full control of your heart health with an OMRON Evolv blood pressure cuff. Save $10 when you add OMRON Evolv to your purchase.</div>
      {{ 'omron_evolv.png' | asset_url | img_tag }}
      <p class="h4Price price">
        <span class="red">
          $ 79.99
        </span>
        <span class="strikeout">
          $ 89.99
        </span>
      </p>
      <a class="btn ga-tracker"
        id="omron-add"
        data-category="Omron Upsell"
        data-action="Clicked Add to cart"
        data-label="Cart">
        Add to cart
      </a>
      <a id="omron-no"
        class="upsell-no ga-tracker" 
        data-category="Omron Upsell"
        data-action="Clicked No thanks"
        data-label="Cart">
        No thanks
      </a>
    </div>
  </div>
  </div>
</div>