<div class="pop-up promo">
  <div class="screen">
  <div class="content">
    <div class="text">
    <h5>You have qualified for a FREE Carry Pod</h5>
    <a class="btn" id="carry-pod-add">Add to cart</a>
    <a id="carry-pod-no">No thanks</a>
    </div>
    {{ 'carryPodHand.jpg' | asset_url | img_tag }}
  </div>
  </div>
</div>