<p>Get the most out of your Kardia device. Become a KardiaCare member for just {{ premium_price }}. Receive a free month when you join today.</p>
<table>
  <thead>
    <tr>
      <td></td>
      <td class="head">Basic</td>
      <td class="head bold">KardiaCare<span></span></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="feature">
        Take unlimited ECGs. Detect AFib, Bradycardia, Tachycardia, or Normal Heart Rhythm in just 30 seconds.
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Store your ECGs on your phone or email them to your doctor.
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        Track your weight and blood pressure.
      </td>
      <td class="basic">
        {% include "icon-checkmark.svg" %}
      </td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        <span>Clinician ECG Review</span>Receive an ECG review every 90 days by a cardiac physiologist.
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        <span>Monthly Heart Health Report</span>Download a report that summarises all of your ECG recordings every month. Share with your doctor or use it to track your heart health over time.
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        <span>Automatic ECG Sharing</span>Set up automatic sharing of your ECGs with family or caregivers using Inner Circle.
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        <span>Medication Tracking</span>Set reminders to take specific medication at your doctor’s recommendation and track your medication history.
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
    <tr>
      <td class="feature">
        <span>Cloud Storage and Security</span>Enjoy secure access to all of your ECG recordings on any device.
      </td>
      <td></td>
      <td class="premium">
        {% include "icon-checkmark.svg" %}
      </td>
    </tr>
  </tbody>
</table>
<div class="footnote-table">
  <p><a href="https://www.alivecor.co.uk/kardiacare" target="_blank" data-category="KardiaCare Link" data-action="Clicked See details and pricing" data-label="{{shop.domain}}{{ productUrl }}">See KardiaCare details and pricing in your country.</a></p>
</div>
