<section class="kardiacare-plan">
  <div class="main-plan">
    <div class="basic">
      <p>
        Get the most out of your Kardia device. Become a KardiaCare member for just $8.25 per month* when you join today.
    </div>
    <div class="premium">
      <div class="ribbon">Join KardiaCare</div>
        <div class="h1">Enjoy the peace of mind of heart care at home with these exclusive features.</div>
        <ul class="bullets">
        <li>
          <div class="icon">
          {% include 'icon-stethoscope.svg' %}
          </div>
          <div class="h3">
            Cardiologist EKG Reviews 
          </div>
          <p>
            Receive an EKG review every 90 days by a board-certified cardiologist. 
          </p>
        </li>
        <li>
          <div class="icon">
          {% include 'icon-heart-health.svg' %}
          </div>
          <div class="h3">
            Monthly Heart Health Report
          </div>
          <p>
            Get a report that summarizes all of your EKG recordings every month. Share with your doctor or use it to track your heart health over time.
          </p>
        </li>
        <li>
          <div class="icon">
          {% include 'icon-inner-circle.svg' %}
          </div>
          <div class="h3">
            Automatic EKG Sharing 
          </div>
          <p>
            Set up automatic sharing of your EKGs with family or caregivers using Inner Circle. 
          </p>
        </li>
        <li>
          <div class="icon">
          {% include 'icon-device-replacement.svg' %}
          </div>
          <div class="h3">
            Device Replacement
          </div>
          <p>
            Receive discounted device replacement if lost or stolen for just $19.99. <i>US only</i>
          </p>
        </li>
      </ul>
      <div class="footnote-device">
        <p>*$99 billed annually. <a href="https://www.kardia.com/kardiacare" target="_blank" data-category="KardiaCare Link" data-action="Clicked See details and pricing" data-label="{{shop.domain}}{{ productUrl }}">See KardiaCare details and pricing in your country.</a></p>
      </div>
    </div>
  </div>
</section>