<div class="table">
    <table>
      <thead>
        <tr>
          <td></td>
          <td class="head">Basic</td>
          <td class="head wide">Premium<span>{{ if ne .URL $ipadPath }}(Required for KardiaBand){{ end }}</span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="feature">
            Take recordings anytime, anywhere
          </td>
          <td class="basic">
            {% include "icon-checkmark.svg" %}
          </td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
        <tr>
          <td class="feature">
            Instant EKG analysis
          </td>
          <td class="basic">
            {% include "icon-checkmark.svg" %}
          </td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
        <tr>
          <td class="feature">
            Detect normal heart rhythm or AFib
          </td>
          <td class="basic">
            {% include "icon-checkmark.svg" %}
          </td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
        <tr>
          <td class="feature">
            Email unlimited EKG recordings to your doctor
          </td>
          <td class="basic">
            {% include "icon-checkmark.svg" %}
          </td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
        <tr>
          <td class="feature">
            Blood pressure and weight tracking
          </td>
          <td class="basic">
            {% include "icon-checkmark.svg" %}
          </td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
        <tr>
          <td class="feature">
            Unlimited cloud storage of EKG recordings
          </td>
          <td></td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
        <tr>
          <td class="feature">
            Customized monthly reports{{ end }} mailed to your home to share with your doctor
          </td>
          <td></td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
        <tr>
          <td class="feature">
            Medication tracking
          </td>
          <td></td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
        <tr>
          <td class="feature">
            <a class="teal-underline" href="/how-it-works/#smartrhythm">SmartRhythm</a> monitoring and notifications for Apple Watch
          </td>
          <td></td>
          <td class="premium">
            {% include "icon-checkmark.svg" %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>