{% assign compat_specs_product = false %}
{% assign specs_product = true %}
{% if product.handle == "kardiamobile"%}
  {% assign compatibility_liquid = 'compatibility' %}
  {% assign techspecs_liquid = 'tech-specs-kardiamobile' %}
  {% assign compat_specs_product = true %}
  {% if shop.currency == "USD" %}
    {% assign premium_liquid = 'premium-table-kardiamobile-us' %}
  {% else %}
    {% assign premium_liquid = 'premium-table-kardiamobile' %}
  {% endif %}
{% endif %}
{% if product.handle == "kardiamobile-card" or product.handle == 'kardiamobile-card-member' %}
  {% assign compatibility_liquid = 'compatibility' %}
  {% assign techspecs_liquid = 'tech-specs-kardiamobile-card' %}
  {% assign compat_specs_product = true %}
{% endif %}
{% if product.handle == "kardiamobile6l" %}
  {% assign compatibility_liquid = 'compatibility' %}
  {% assign techspecs_liquid = 'tech-specs-6l' %}
  {% assign compat_specs_product = true %}
  {% if shop.currency == "USD" %}
    {% assign premium_liquid = 'premium-table-kardiamobile-us' %}
  {% else %}
    {% assign premium_liquid = 'premium-table-kardiamobile' %}
  {% endif %}
{% endif %}
{% if product.handle == "kardiaband" %}
  {% assign compatibility_liquid = 'compatibility' %}
  {% assign techspecs_liquid = 'tech-specs-kardiaband' %}
  {% assign compat_specs_product = true %}
  {% if shop.currency == "USD" %}
    {% assign premium_liquid = 'premium-table-kardiamobile-us' %}
  {% else %}
    {% assign premium_liquid = 'premium-table-kardiamobile' %}
  {% endif %}
{% endif %}
{% if product.handle == "omron-evolv" %}
  {% assign compatibility_liquid = 'compatibility' %}
  {% assign compat_specs_product = true %}
  {% assign specs_product = false %}
  {% if shop.currency == "USD" %}
    {% assign premium_liquid = 'premium-table-kardiamobile-us' %}
  {% else %}
    {% assign premium_liquid = 'premium-table-kardiamobile' %}
  {% endif %}
{% endif %}
{% if shop.currency == "GBP" %}
  {% assign premium_price = '£99 per year or £179 for two years' %}
{% elsif shop.currency == "EUR" %}
  {% assign premium_price = '€9.99/mo or €99/year' %}
{% else %}
  {% assign premium_price = '$9.99/mo or $99/year' %}
{% endif %}

<a name="tabs"></a>
<div class="targets clearfix">
  {% if compat_specs_product %}
  <a name="compatibility"></a>
  <div class="accordion" id="compatibility">
    <h3 class="accordion-header">{{ 'product_tabs.compatibility' | t }}
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include compatibility_liquid %}
    </div>
  </div>
  {% if specs_product %}
  <a name="specs"></a>
  <div class="accordion" id="specs">
    <h3 class="accordion-header">{{ 'product_tabs.tech_specs' | t }}
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include techspecs_liquid %}
    </div>
  </div>
  {% endif %}
  {% endif %}

  {% if product.handle != 'kardiamobile-card' or product.handle != 'kardiamobile-card-member' %}
  <a name="reviews"></a>
  <div class="accordion" id="reviews">
    <h3 class="accordion-header">{{ 'product_tabs.reviews' | t }}
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include 'reviews' product=product %}
    </div>
  </div>
  {% endif %}
  <a name="return_policy"></a>
  <div class="accordion" id="specs">
    <h3 class="accordion-header">{{ 'product_tabs.return_policy' | t }}
      <a class="toggler">
        <div class="rightarrow">
          {% include "icon-rightarrow.svg" %}
        </div>
        <div class="downarrow">
          {% include "icon-downarrow.svg" %}
        </div>
      </a>
    </h3>
    <div class="accordion-inner hidden">
      {% include 'return-policy' %}
    </div>
  </div>

</div>
