<div class="pop-up size-chart">
  <div class="screen">
  <div class="content">
    <div class="close">&times;</div>
    <h5>KardiaBand Size Chart</h5>
    <table>
      <thead>
        <tr>
          <td>Apple Watch Size</td>
          <td>KardiaBand Length</td>
          <td>Specifications</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>38mm</td>
          <td>Includes both band lengths</td>
          <td>Fits wrist circumference 155 - 235mm</td>
        </tr>
        <tr>
          <td rowspan=2>42mm</td>
          <td>Small/Medium</td>
          <td>Fits wrist circumference 155 - 205mm</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>Fits wrist circumference 170 - 235mm</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>