<div class="pop-up kardiacare-thank-you" id="kardiacare-thank-you-popup">
  <div class="screen">
  <div class="content">
    <a class="pop-up-close ga-tracker kardiacare-thank-you-close"
      data-category="KardiaCare Thank You Pop Up"
      data-action="Clicked Close"
      data-label="Thank You"></a>
    <div class="text">
    <h2 class="purple">Wait, you’re almost done...</h2>
      <p>You must activate your KardiaCare membership. Your term will begin once you activate or 30 days after purchase.</p>
      <p class="purple">Check your email and activate now.</p>
    </div>
  </div>
  </div>
</div>