<div class="pop-up kardia-device-thank-you" id="kardia-device-thank-you-popup">
  <div class="screen">
  <div class="content split">
    <a class="pop-up-close ga-tracker kardia-device-thank-you-close"
      data-category="Kardia Device Thank You Pop Up"
      data-action="Clicked Close"
      data-label="Thank You"></a>
    <div class="text">
    <h2>Activate your KardiaCare Membership</h2>
      <p>You must activate your membership to gain access to KardiaCare. Follow these easy steps.</p>
      <ol>
        <li><span class="number">1.</span>Check your inbox for an activation email</li>
        <li><span class="number">2.</span>Click the <span class="button">ACTIVATE</span> button in the email</li>
        <li><span class="number">3.</span>Log in or create your Kardia account</li>
      </ol>
      <p>Your term will begin once you activate or 30 days after purchase.</p>
    </div>
  </div>
  </div>
</div>