@media (min-width: 1000px) {
  .order-summary__section--discount {
    position: absolute;
    bottom: 50px;
    border-top: none;
    width: 100%;
  }
  .promoShowLink {
    cursor: pointer;
    position: absolute;
    bottom: 80px;
    font-weight: bold;
  }
}
.alt-payment-list-container {
  text-align: center;
}
.alternative-payment-separator {
  font-size: 16px;
  color: #333;
  @media (min-width: 750px) {
    margin-bottom: 1.5em;
  }
}